:root {
	--primary-color: #8161ff;
}

.rapidpress-logo {
	margin-top: 15px;
}

.rapidpress-admin-content {
	margin-top: 10px;
}

.rapidpress-admin-content ::placeholder,
.rapidpress-admin-content ::-ms-input-placeholder {
	color: #999 !important;
}

.rapidpress-admin-content .button {
	vertical-align: middle;
}

.rapidpress-admin-content .form-table th {
	padding: 15px 10px 15px 0;
	font-weight: 500;
}

.nav-tab-wrapper {
	margin-bottom: 20px;
}

.tab-content > .tab-pane {
	display: none;
}

.tab-content > .active {
	display: block;
}

.content-title {
	margin-top: 0;
	margin-bottom: 10px;
	background: #3d464d;
	color: #fff;
	border: 1px solid #ccd0d4;
	padding: 20px;
}

.rapidpress-card {
	background: #fff;
	border: 1px solid #ccd0d4;
	/* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); */
	margin-bottom: 20px;
	padding: 20px;
}

.performance-score {
	font-size: 48px;
	font-weight: bold;
	color: #46b450;
	text-align: center;
	margin: 20px 0;
}

.rapidpress-card td label {
	padding: 10px 0;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.rapidpress-card td label:hover input[type="checkbox"] {
	border-color: var(--primary-color);
}

.accordion-item {
	margin-bottom: 10px;
}

.accordion-header {
	cursor: pointer;
	background-color: #fff;
	color: #000;
	padding: 15px 20px;
	border: 1px solid #eee;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #ccd0d4;
}

.accordion-header:before {
	content: "\f347";
	font-family: dashicons;
	display: inline-block;
	line-height: 1;
	font-weight: 400;
	width: 20px;
	height: 20px;
	font-size: 18px;
	color: #444;
	vertical-align: top;
	margin-right: 10px;
	position: relative;
	top: 1px;
}

.accordion-header.active,
.accordion-header.active:hover {
	/* background-color: #e4e4e4; */
	background-color: #fff;
	border-bottom: none;
}

.accordion-header:hover {
	background-color: #fafafa;
}

.accordion-header.active:before {
	transform: rotate(180deg);
	top: -2px;
}

.accordion-content {
	display: none;
	overflow: hidden;
}

.accordion-content .form-table td {
	padding: 5px 0;
	/* vertical-align: top; */
}

.accordion-content.active {
	display: block;
}

.js-disable-scope,
.css-disable-scope {
	margin-bottom: 10px;
}

.checkbox-btn {
	overflow: hidden;
	margin-top: 15px;
}

.hidden {
	display: none;
}

.checkbox-btn label span {
	text-align: center;
	display: inline-block;
	border: 1px solid #2271b1;
	color: #2271b1;
	background: #fff;
	font-size: 11px;
	padding: 6px 8px;
	border-radius: 3px;
}

/* .checkbox-btn label span:hover {
	background: #f6f7f7;
} */

.checkbox-btn label input {
	position: absolute;
	display: none;
}

.checkbox-btn input:checked + span {
	background-color: #edf7ff;
}

/* .js-exclude-pages-wrapper,
.css-exclude-pages-wrapper {
	margin-top: 10px;
} */

.js-exclude-enabled,
.css-exclude-enabled {
	margin-right: 5px;
}

#js-asset-management .js-exclude-pages-wrapper,
#css-asset-management .css-exclude-pages-wrapper {
	display: inline-block;
	margin: 0 0 10px 10px;
}

#asset-manager .checkbox-btn {
	display: inline;
	margin-right: 10px;
}

#asset-manager .checkbox-btn label span {
	font-size: 13px;
	padding: 6px 8px;
	background-color: #f6f7f7;
}

#asset-manager .checkbox-btn label span:hover {
	background-color: #f0f0f1;
	border-color: #0a4b78;
	color: #0a4b78;
}

#asset-manager .checkbox-btn input:checked + span {
	background-color: #04a17a;
	border-color: #04a17a;
	color: #fff;
}

.dashicons-editor-help {
	/* cursor: help; */
	vertical-align: middle;
}

.dashicons-editor-help:before {
	color: #ddd;
}

.dashicons-editor-help:hover::after {
	max-width: 300px;
	display: inline-block;
	content: attr(data-title);
	position: absolute;
	background: #3d464d;
	text-align: left;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	font-family: "system-ui", sans-serif;
	font-size: 12px;
	line-height: 18px;
	/* white-space: nowrap; */
	z-index: 9999;
}

.checkbox-radio {
	display: inline-block;
}

.checkbox-radio input {
	appearance: none;
	background-color: #ddd;
	border-radius: 72px;
	border-style: none;
	flex-shrink: 0;
	height: 22px;
	margin: 0;
	position: relative;
	width: 34px;
	cursor: pointer;
	margin-right: 6px;
}

.checkbox-radio input::before {
	bottom: -2px;
	content: "";
	left: -2px;
	position: absolute;
	right: -2px;
	top: -2px;
	cursor: pointer;
}

.checkbox-radio input,
.checkbox-radio input::after {
	transition: all 200ms ease-in-out;
}

.checkbox-radio input::after {
	background-color: #fff;
	border-radius: 50%;
	content: "";
	height: 16px;
	left: 3px;
	position: absolute;
	top: 3px;
	width: 16px;
	cursor: pointer;
}

.checkbox-radio input[type="checkbox"] {
	cursor: default;
}

.checkbox-radio input:hover {
	background-color: #c9cbcd;
	transition-duration: 0s;
}

.checkbox-radio input:checked {
	/* background-color: #6e79d6; */
	background-color: var(--primary-color);
	cursor: pointer;
}

.checkbox-radio input:checked::before {
	display: none;
}

.checkbox-radio input:checked::after {
	background-color: #fff;
	left: 15px;
}

.checkbox-radio :focus:not(.focus-visible) {
	outline: 0;
	box-shadow: none;
}

.checkbox-radio input:checked:hover {
	background-color: var(--primary-color);
}

.nav-tab-wrapper {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 0;
}

.nav-tab {
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	border-bottom: none;
	color: #555;
	font-size: 14px;
	font-weight: 600;
	margin: 0;
	margin-right: 8px;
	padding: 8px 20px;
	text-decoration: none;
	transition: all 0.3s ease;
	cursor: pointer;
}

.nav-tab-active,
.nav-tab-active:hover,
.nav-tab:hover {
	background-color: #fff !important;
	border-bottom: none;
	color: #000;
}

.nav-tab-active:focus,
.nav-tab:focus {
	outline: 0;
	box-shadow: none;
	border-bottom: none;
}

.tab-content {
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: none;
	padding: 15px;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
	.nav-tab-wrapper {
		display: flex;
		flex-direction: column;
	}

	.nav-tab {
		margin-bottom: 5px;
		width: 100%;
	}
}

.button-primary.rapidpress-btn {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	padding: 4px 15px;
	width: 120px;
	text-align: center;
}

.button-primary.rapidpress-btn:hover,
.button-primary.rapidpress-btn:focus {
	background-color: #7a5af7;
	border-color: #7a5af7;
}

.rapidpress-inline-notice {
	display: inline-block;
	margin-left: 10px;
	padding: 5px 10px;
	border-radius: 3px;
	font-weight: bold;
}

.rapidpress-inline-notice.notice-success {
	background-color: #dff0d8;
	color: #3c763d;
	border: 1px solid #d6e9c6;
}

.rapidpress-inline-notice.notice-error {
	background-color: #f2dede;
	color: #a94442;
	border: 1px solid #ebccd1;
}
